body { 
        background: url("clouds123.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }


#title {
    text-align: center;
    color: rgba(255, 255, 255, 0.918);
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.render-div {
    background-color: rgba(255, 255, 255, 0.76);
    border: solid 0px gray;
    box-shadow: 0px 1px 2px 2px rgba(87, 86, 86, 0.267);
    margin-top: 20px;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.temps {
    text-indent: 15px
}

.make-comment {
    float: right;
}

.comments-container .comment-text {
    color: rgb(49, 48, 48);
}

.location .fa-window-close {
    color: rgba(148, 37, 37, 0.623);
    float: right;
}

.location .fa-window-close:hover{
   color: rgba(167, 9, 9, 0.842);
   cursor: pointer; 
}

.comments-container .fa-trash {
    color: rgba(148, 37, 37, 0.623);
}

.comments-container .fa-trash:hover {
    color: rgba(167, 9, 9, 0.842);
    cursor: pointer; 
};